MYSQL_DSN="root:awjgxdfhx@tcp(127.0.0.1:3306)/xilixili?charset=utf8mb4&parseTime=True&loc=Local"
REDIS_ADDR="127.0.0.1:6379"
REDIS_PW=""
REDIS_DB=""
SESSION_SECRET="yhntgb"
GIN_MODE="release"
OSS_END_POINT=""
OSS_ACCESS_KEY_ID=""
OSS_ACCESS_KEY_SECRET=""
OSS_BUCKET=""